# common
run
build
.gradle

# eclipse
eclipse
bin
*.launch
.metadata
.classpath
.project
.settings

# idea
*.ipr
*.iws
*.iml
.idea

# don't want compiled jars in the repo
out
mcinterfaceforge1182
mcinterfaceforge1192
